*{
   
    background-image: url('https://st4.depositphotos.com/5727474/19939/v/600/depositphotos_199395304-stock-video-global-earth-rotating-digital-world.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
}


h1{
    text-align: center;
    color: white;
}

h3{
    text-align: center;
    color: white;
}

ul li{
    list-style-type:none;
}

#lisu{
    margin-top: 0;
    margin-bottom: 1rem;
    list-style-type: none;
}