{% extends 'base.html' %}
{% import 'macros.html' as macro%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>News Highlight application</title>
    {% endif %}
</head>
<body>
        {% block content %}

    <h1>Welcome To The News Highlight</h1>
    <ul>
        {% for latest_news in  latest%}
        <li>{{latest_news.name}}</li>
        <li>{{latest_news.description}}</li>
        {% endfor %}
    </ul>

    {% endblock %}
    <ul>
            {{ macro.displayMovieList(latest)}}
    </ul>
</body>
</html>